<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>afterimage_glow_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,22},{14,12}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,107},{14,12}}</string>
                <key>sourceSize</key>
                <string>{384,224}</string>
            </dict>
            <key>afterimage_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,20},{18,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,105},{18,16}}</string>
                <key>sourceSize</key>
                <string>{384,224}</string>
            </dict>
            <key>afterimage_glow_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{22,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,105},{22,16}}</string>
                <key>sourceSize</key>
                <string>{384,224}</string>
            </dict>
            <key>afterimage_glow_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,104},{24,18}}</string>
                <key>sourceSize</key>
                <string>{384,224}</string>
            </dict>
            <key>afterimage_glow_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{12,6}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,113},{12,6}}</string>
                <key>sourceSize</key>
                <string>{384,224}</string>
            </dict>
            <key>afterimage_glow_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,36},{14,6}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,114},{14,6}}</string>
                <key>sourceSize</key>
                <string>{384,224}</string>
            </dict>
            <key>afterimage_glow_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,14},{6,6}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,115},{6,6}}</string>
                <key>sourceSize</key>
                <string>{384,224}</string>
            </dict>
            <key>afterimage_glow_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{8,4}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,118},{8,4}}</string>
                <key>sourceSize</key>
                <string>{384,224}</string>
            </dict>
            <key>afterimage_glow_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,8},{8,4}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,120},{8,4}}</string>
                <key>sourceSize</key>
                <string>{384,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>afterimage_glow.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd67bebbcf1e570755a41e518560a50b:c3d35e9fc282005c1aee4109d62f5e74:d40c4f7691800ee5195563e2c185190e$</string>
            <key>textureFileName</key>
            <string>afterimage_glow.png</string>
        </dict>
    </dict>
</plist>
