<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{80,74}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,140},{100,70}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{100,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,74}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{104,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,366},{76,52}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{76,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,416},{60,72}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{60,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,212},{60,96}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{60,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,382},{60,56}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,41},{60,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,244},{98,36}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{98,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{102,54}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{102,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{100,74}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{100,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,308},{58,46}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{58,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{60,72}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{60,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,382},{60,56}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,38},{60,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,244},{98,36}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{98,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,210},{100,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,49},{100,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,154},{100,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{100,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,274},{56,30}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,52},{56,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,428},{54,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{54,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,382},{60,56}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,41},{60,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,72},{102,66}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{102,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{102,68}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{102,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,282},{80,54}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{80,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{56,64}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{56,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,216},{56,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{56,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,78},{80,74}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,140},{100,70}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{100,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{104,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,338},{76,52}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{76,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,412},{60,72}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{60,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,246},{60,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{60,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,444},{60,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,41},{60,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{98,36}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{98,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,78},{102,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{102,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,134},{100,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{100,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,368},{58,46}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,47},{58,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,308},{60,72}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{60,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,444},{60,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{60,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{98,36}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{98,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,212},{100,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,49},{100,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{100,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{100,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,306},{56,30}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,52},{56,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,428},{54,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{54,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,444},{60,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,41},{60,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,72},{102,66}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{102,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{102,68}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{102,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{80,54}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{80,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,444},{56,64}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,41},{56,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>character2_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{56,78}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{56,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1932b6f793d588ca64031e9f2086afc2:997f0ae0439d3670c269eb269a7018ac:9c7dc78ef3257d23513980dff8796a60$</string>
            <key>textureFileName</key>
            <string>character2.png</string>
        </dict>
    </dict>
</plist>
