<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dash_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,275}}</string>
                <key>sourceSize</key>
                <string>{350,275}</string>
            </dict>
            <key>dash_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,275}}</string>
                <key>sourceSize</key>
                <string>{350,275}</string>
            </dict>
            <key>dash_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{350,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,275}}</string>
                <key>sourceSize</key>
                <string>{350,275}</string>
            </dict>
            <key>dash_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,279},{350,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,275}}</string>
                <key>sourceSize</key>
                <string>{350,275}</string>
            </dict>
            <key>dash_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{350,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,275}}</string>
                <key>sourceSize</key>
                <string>{350,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dash.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96b06c6adae454b4de6f9377f52eed40:2a1c1f5bf3fc807927d38f5e538b8e05:5b17f86d09fbdfe9bd369b69c69fb791$</string>
            <key>textureFileName</key>
            <string>dash.png</string>
        </dict>
    </dict>
</plist>
