<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,504},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,504},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect02.png</string>
            <key>size</key>
            <string>{2010,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b8e5c1f17811f4dfb08cda9021a8c8b:04f4c69d9875a8f00f4efe69cf121ae2:ae4d81c2451994fcd5522fa6cb29c251$</string>
            <key>textureFileName</key>
            <string>effect02.png</string>
        </dict>
    </dict>
</plist>
