<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{1,1}}</string>
                <key>offset</key>
                <string>{-62,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>hit_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,166},{81,71}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{81,71}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>hit_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,93},{83,71}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{83,71}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>hit_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{91,89}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{91,89}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>hit_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{103,101}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>hit_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{99,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{99,101}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_1.png</string>
            <key>size</key>
            <string>{239,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e0aec1515a01f3322b30e876fb74f5:d289b467261f6fb54a5e2c2eeaa43114:3782a6fcbf1970af6a168ee7e3194cb8$</string>
            <key>textureFileName</key>
            <string>hit_1.png</string>
        </dict>
    </dict>
</plist>
