[submodule "src/cocos2d"]
	path = src/cocos2d
	url = https://github.com/SubwayRocketTeam/cocos2d-x-custom.git
[submodule "src/jsoncpp"]
	path = src/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
